<launch>
    <node name="pololu_smc_node" pkg="pololu_smc" type="pololu_smc_node">
        <param name="id_list" value="8 9" type="string" />
        <param name="portname" value="/dev/ttyACM0" type="string" />

        <param name="default_p" value="2" type="double" />
        <param name="default_i" value="0" type="double" />
        <param name="default_d" value="0.25" type="double" />
    </node>
</launch>
